@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italianno&display=swap');

@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../node_modules/font-awesome/css/font-awesome.css');

@import url('./components/HomePage/style.css');
@import url('./components/containers/Footer/style.css');
@import url('./components/containers/Header/style.css');
@import url('./components/containers/Layout/style.css');
@import url('./components/auth/Login/style.css');
@import url('./components/auth/Register/style.css');
@import url('./components/auth/Logout/style.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.w-300px {
  width: 300px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: antiquewhite;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: gray;
}

.font-header {
  font-family: Cinzel Decorative;
}

.font-text {
  font-size: 30px;
  font-family: Italianno;
}

#root {
  min-height: 100vh;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  /* filter: sepia(.75) invert(.1); */
}

.site-font {
  font-size: 20px;
}